<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wanandroid.module.home">

    <application>
        <activity
            android:name=".ui.activity.HomeWebActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.HomeHotSearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.HomeSearchListActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
